In [1]:
import pandas as pd
import re
import datetime

pd.options.display.max_colwidth = 100

In [2]:
from iwantout import load_and_transform_raw_data,save_outputs_from_generator
%load_ext autoreload
%autoreload 2

# Load and transform data

In [6]:
# test data
# raw_csvs = ["output/sample_iwantout.csv"]
# output_csv = 'output/test_transformed.csv'

# full data
raw_csvs = ["output/iwantout.csv" # from first run 
            , "output/iwantout_v2.csv" # from second run
            , "output/iwantout_v3.csv" # from third run
           ]
output_csv = "output/transformed.csv"

In [7]:
extract_data = load_and_transform_raw_data(raw_csvs,encoding='utf-8')

In [8]:
save_outputs_from_generator(output_csv, extract_data)

wrote to output/transformed.csv

# Preview transformed data

In [9]:
result = pd.read_csv(output_csv)

In [10]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1010 non-null   object
 1   identity             1010 non-null   object
 2   origin_country       938 non-null    object
 3   origin_region        937 non-null    object
 4   destination_country  877 non-null    object
 5   destination_region   821 non-null    object
 6   job                  665 non-null    object
 7   created_dt           1010 non-null   object
 8   contents             1010 non-null   object
dtypes: object(9)
memory usage: 71.1+ KB

In [11]:
result.head()

,index,identity,origin_country,origin_region,destination_country,destination_region,job,created_dt,contents
0,g89w9a,25m,Zimbabwe,Africa,NaN,South America,financial analyst/data analyst,2020-04-26,"Hi, \n\nSo I currently live in Zimbabwe, but fear there aren't many opportunities here for growt..."
1,g83h6t,40m,United States,North America,Netherlands,Europe,business owner,2020-04-26,I want to buy a \~€600k house and somehow get EU permanent residency for myself and my family (w...
2,g83h6t,40m,United States,North America,Ireland,Europe,business owner,2020-04-26,I want to buy a \~€600k house and somehow get EU permanent residency for myself and my family (w...
3,g88ih5,35f,Belgium,Europe,United Kingdom,Europe,carer,2020-04-26,I should clarify that I am from the UK but my husband is Belgian. We have lived in Belgium for 1...
4,g7wiz6,23m,United States,North America,NaN,South America,hospitality major,2020-04-26,Hello!! Looking for some advice here. I’m a 23 year old soon to be college graduate in May. I’m ...