In [125]:
import pandas as pd
import re
import csv
from csv import writer
import datetime
pd.options.display.max_colwidth = 100

In [115]:
# full data
#csv = "output/iwantout.csv"

# test data
input_csv = "output/sample_iwantout.csv"

output_csv = 'output/test_output.csv'

In [116]:
col_names = ["id","title", "created", "num_comments", "url", "contents"]
df = pd.read_csv(input_csv, header = None, names = col_names, skiprows = 1)

In [126]:
df.head(1)

,id,title,created,num_comments,url,contents
0,g89w9a,[IWantOut] 25M Financial Analyst/Data Analyst Zimbabwe -> South America,1.587913e+09,8,https://www.reddit.com/r/IWantOut/comments/g89w9a/iwantout_25m_financial_analystdata_analyst/,"Hi, \n\nSo I currently live in Zimbabwe, but fear there aren't many opportunities here for growt..."

In [118]:
def extract_title(title):
    try:
        title = title.lower()
        identity = re.findall(r"[0-9][0-9][a-z]", title)[0].strip()
        job_and_countries = " ".join(title.split(identity)[1:])
        #countries = re.findall(r"[a-z]+[\s]?->[\s]?[a-z]+", job_and_countries)
        countries = re.findall(r"[a-z]+[\s]?->[\s]?.*", job_and_countries)
        job = " ".join(job_and_countries.split(countries[0])).strip()
        origin = countries[0].split("->")[0].strip()
        destination = countries[0].split("->")[1].strip()
        
        return identity, origin, destination,job
    
    except:
        
        return None, None, None, None

In [124]:
# convert 
def convert_date(dt)
    try:
        date = datetime.datetime.fromtimestamp(int(round(float(dt))))
        return date.strftime("%Y-%m-%d")
    except: 
        return None

'2020-04-26'

In [119]:
def produce_row():
    with open(input_csv,encoding='utf-8') as csvfile:
        readCSV = csv.reader(csvfile, delimiter=',')
        for row in readCSV:
            index = row[0]
            title = row[1]
            created = row[2]
            identity, origin, destination,job = extract_title(title)
            created_dt = convert_date(created)
            
            yield [index,identity, origin, destination,job,created_dt]

In [120]:
produce_row = produce_row()

In [121]:
# Open file in append mode
with open(output_csv, 'a+', newline='',encoding='utf-8') as write_obj:
    # Create a writer object from csv module
    
    for r in produce_row:
        # Add contents of list as last row in the csv file
        csv_writer = writer(write_obj)
        csv_writer.writerow(r)

In [8]:
error = []
identities, origins, destinations, jobs = [], [], [], []

In [9]:
for t in titles:
    identity, origin, destination,job = extract_title(t)
    
    if identity is None:
        error.append(t)
    else:
        #print(f"{identity}, {origin}, {destination}, {job}")
        identities.append(identity)
        origins.append(origin)
        destinations.append(destination)
        jobs.append(job)

In [ ]:
df["identitie"] = identities
df["origin"] = origins
df["destination"] = destinations
df["job"] = jobs

In [ ]:
df["created_dt"] =

In [12]:
#test = "[IWantOut] 26M Data Scientist India->USA"
#test = "[IWantOut] 24M Cybersecurity UK -> Australia\\Japan\\Korea\\Singapore\\Hawaii\\Dubai\\USA\\Germany"
#test = "[IWantOut] 22F USA -> Canada"
#test = '[IWantOut] 21M ECE student Malaysia -> Munich, Germany'
test = '[IWantOut]25M Journalist in Turkey ->Australia or Canada'
extract_title(test)

('25m', 'turkey', 'australia or canada', 'journalist in')