In [1]:
import pandas as pd
import re
import datetime

pd.options.display.max_colwidth = 100

In [2]:
from iwantout import load_and_transform_raw_data,save_outputs_from_generator
%load_ext autoreload
%autoreload 2

### Transformed data

In [3]:
# test data
raw_csvs = ["output/sample_iwantout.csv"]
output_csv = 'output/test_transformed.csv'

# full data
# raw_csvs = ["output/iwantout.csv" # from first run 
#             , "output/iwantout_v2.csv" # from second run
#            ]
# output_csv = "output/transformed.csv"

In [4]:
extract_data = load_and_transform_raw_data(raw_csvs,encoding='utf-8')

In [5]:
save_outputs_from_generator(output_csv, extract_data)

wrote to output/test_transformed.csv

### Load transfromed data

In [6]:
result = pd.read_csv(output_csv)

In [8]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  116 non-null    object
 1   identity               116 non-null    object
 2   origin_country         112 non-null    object
 3   origin_region          112 non-null    object
 4   destination_countries  94 non-null     object
 5   destination_regions    99 non-null     object
 6   job                    69 non-null     object
 7   created_dt             116 non-null    object
 8   contents               116 non-null    object
dtypes: object(9)
memory usage: 8.3+ KB

In [14]:
result.head()

,index,identity,origin_country,origin_region,destination_countries,destination_regions,job,created_dt,contents
0,g89w9a,25m,Zimbabwe,Africa,NaN,South America,financial analyst/data analyst,2020-04-26,"Hi, \n\nSo I currently live in Zimbabwe, but fear there aren't many opportunities here for growt..."
1,g83h6t,40m,United States,North America,Netherlands,Europe,business owner,2020-04-26,I want to buy a \~€600k house and somehow get EU permanent residency for myself and my family (w...
2,g83h6t,40m,United States,North America,Ireland,Europe,business owner,2020-04-26,I want to buy a \~€600k house and somehow get EU permanent residency for myself and my family (w...
3,g88ih5,35f,Belgium,Europe,United Kingdom,Europe,carer,2020-04-26,I should clarify that I am from the UK but my husband is Belgian. We have lived in Belgium for 1...
4,g7wiz6,23m,United States,North America,NaN,South America,hospitality major,2020-04-26,Hello!! Looking for some advice here. I’m a 23 year old soon to be college graduate in May. I’m ...

In [9]:
result['destination_regions'].value_counts()

Europe           50
North America    29
Oceania          10
Asia              8
South America     2
Name: destination_regions, dtype: int64

In [13]:
result['destination_countries'].value_counts()

United States                             13
Canada                                    13
Germany                                   11
United Kingdom                             9
Netherlands                                7
anywhere                                   7
France                                     6
Australia                                  5
New Zealand                                4
Italy                                      3
Spain                                      2
Japan                                      2
Ireland                                    2
Korea, Democratic People's Republic of     2
Sweden                                     1
Thailand                                   1
Belgium                                    1
Greece                                     1
Finland                                    1
Singapore                                  1
Mexico                                     1
Israel                                     1
Name: destination_countries, dtype: int64

In [11]:
result['origin_region'].value_counts()

North America    63
Europe           20
Asia             17
Africa            5
Oceania           5
South America     2
Name: origin_region, dtype: int64

In [37]:
result.columns

Index(['index', 'identity', 'origin_country', 'origin_region',
       'destination_countries', 'destination_regions', 'job', 'created_dt',
       'contents'],
      dtype='object')

In [58]:
agg_cols = ['origin_region', 'origin_country', 'destination_regions', 'destination_countries']
grouped = result.groupby(agg_cols).count()['index']

In [59]:
grouped = grouped.reset_index().rename({'index': 'count'}, axis='columns')

In [60]:
grouped.head()

,origin_region,origin_country,destination_regions,destination_countries,count
0,Africa,Malawi,Europe,Netherlands,1
1,Africa,Tunisia,Europe,Germany,1
2,Asia,India,North America,Canada,1
3,Asia,India,North America,United States,1
4,Asia,Kazakhstan,Europe,United Kingdom,1

In [65]:
grouped["origin_region"] = grouped.apply(lambda x: "Origin: " + x['origin_region'], axis = 1)

In [66]:
grouped["origin_country"] = grouped.apply(lambda x: "Origin: " + x['origin_country'], axis = 1)

# TODO changa name of destination_regions

In [67]:
grouped["destination_regions"] = grouped.apply(lambda x: "Destination: " + x['destination_regions'], axis = 1)

In [68]:
grouped["destination_countries"] = grouped.apply(lambda x: "Destination: " + x['destination_countries'], axis = 1)

In [69]:
grouped

,origin_region,origin_country,destination_regions,destination_countries,count
0,Origin: Africa,Origin: Malawi,Destination: Europe,Destination: Netherlands,1
1,Origin: Africa,Origin: Tunisia,Destination: Europe,Destination: Germany,1
2,Origin: Asia,Origin: India,Destination: North America,Destination: Canada,1
3,Origin: Asia,Origin: India,Destination: North America,Destination: United States,1
4,Origin: Asia,Origin: Kazakhstan,Destination: Europe,Destination: United Kingdom,1
5,Origin: Asia,Origin: Kazakhstan,Destination: North America,Destination: Canada,1
6,Origin: Asia,Origin: Kazakhstan,Destination: North America,Destination: United States,1
7,Origin: Asia,Origin: Lebanon,Destination: Europe,Destination: Germany,1
8,Origin: Asia,Origin: Philippines,Destination: Asia,"Destination: Korea, Democratic People's Republic of",1
9,Origin: Asia,Origin: Philippines,Destination: Europe,Destination: Finland,1
10,Origin: Asia,Origin: Philippines,Destination: Europe,Destination: Germany,1
11,Origin: Asia,Origin: Philippines,Destination: North America,Destination: Canada,2
12,Origin: Asia,Origin: Philippines,Destination: North America,Destination: United States,2
13,Origin: Asia,Origin: Philippines,Destination: Oceania,Destination: Australia,2
14,Origin: Asia,Origin: Turkey,Destination: North America,Destination: Canada,1
15,Origin: Asia,Origin: Turkey,Destination: Oceania,Destination: Australia,1
16,Origin: Europe,Origin: Belgium,Destination: Europe,Destination: United Kingdom,1
17,Origin: Europe,Origin: Greece,Destination: Europe,Destination: Germany,1
18,Origin: Europe,Origin: Ireland,Destination: North America,Destination: United States,1
19,Origin: Europe,Origin: Slovenia,Destination: North America,Destination: United States,1
20,Origin: Europe,Origin: United Kingdom,Destination: Asia,Destination: Japan,1
21,Origin: Europe,Origin: United Kingdom,Destination: Asia,"Destination: Korea, Democratic People's Republic of",1
22,Origin: Europe,Origin: United Kingdom,Destination: Asia,Destination: Singapore,1
23,Origin: Europe,Origin: United Kingdom,Destination: Europe,Destination: Germany,1
24,Origin: Europe,Origin: United Kingdom,Destination: Europe,Destination: Greece,1
25,Origin: Europe,Origin: United Kingdom,Destination: North America,Destination: United States,2
26,Origin: Europe,Origin: United Kingdom,Destination: Oceania,Destination: Australia,1
27,Origin: North America,Origin: Canada,Destination: Europe,Destination: France,2
28,Origin: North America,Origin: Canada,Destination: Europe,Destination: Germany,3
29,Origin: North America,Origin: Canada,Destination: Europe,Destination: Netherlands,1
30,Origin: North America,Origin: Canada,Destination: North America,Destination: United States,2
31,Origin: North America,Origin: Costa Rica,Destination: Europe,Destination: Spain,1
32,Origin: North America,Origin: Dominican Republic,Destination: North America,Destination: Canada,1
33,Origin: North America,Origin: Nicaragua,Destination: North America,Destination: United States,1
34,Origin: North America,Origin: Trinidad and Tobago,Destination: Europe,Destination: France,1
35,Origin: North America,Origin: Trinidad and Tobago,Destination: Europe,Destination: Netherlands,1
36,Origin: North America,Origin: United States,Destination: Asia,Destination: Israel,1
37,Origin: North America,Origin: United States,Destination: Asia,Destination: Japan,1
38,Origin: North America,Origin: United States,Destination: Asia,Destination: Thailand,1
39,Origin: North America,Origin: United States,Destination: Europe,Destination: Belgium,1
40,Origin: North America,Origin: United States,Destination: Europe,Destination: France,2
41,Origin: North America,Origin: United States,Destination: Europe,Destination: Germany,3
42,Origin: North America,Origin: United States,Destination: Europe,Destination: Ireland,1
43,Origin: North America,Origin: United States,Destination: Europe,Destination: Italy,3
44,Origin: North America,Origin: United States,Destination: Europe,Destination: Netherlands,4
45,Origin: North America,Origin: United States,Destination: Europe,Destination: Spain,1
46,Origin: North America,Origin: United States,Destination: Europe,Destination: United Kingdom,4
47,Origin: North America,Origin: United States,Destination: North America,Destination: Canada,6
48,Origin: North America,Origin: United States,Destination: North America,Destination: Mexico,1
49,Origin: North America,Origin: United States,Destination: Oceania,Destination: Australia,1
50,Origin: North America,Origin: United States,Destination: Oceania,Destination: New Zealand,3
51,Origin: Oceania,Origin: Australia,Destination: Europe,Destination: United Kingdom,1
52,Origin: Oceania,Origin: New Zealand,Destination: Europe,Destination: Ireland,1
53,Origin: Oceania,Origin: New Zealand,Destination: Europe,Destination: United Kingdom,2
54,Origin: South America,Origin: Brazil,Destination: North America,Destination: United States,1
55,Origin: South America,Origin: Uruguay,Destination: North America,Destination: Canada,1

### Analysis

In [85]:
from sankey import genSankey
import pandas as pd
import plotly
#import plotly.plotly as py
import chart_studio.plotly as py

In [92]:
32//2

16

In [95]:
fig = genSankey(grouped,cat_cols=agg_cols,value_cols='count',title='Where do redditors want to go?')
plotly.offline.plot(fig, validate=False)

'temp-plot.html'

In [74]:
import urllib, json

url = 'https://raw.githubusercontent.com/plotly/plotly.js/master/test/image/mocks/sankey_energy.json'
response = urllib.request.urlopen(url)
data = json.loads(response.read())

In [75]:
data

{'data': [{'type': 'sankey',
   'domain': {'x': [0, 1], 'y': [0, 1]},
   'orientation': 'h',
   'valueformat': '.0f',
   'valuesuffix': 'TWh',
   'node': {'pad': 15,
    'thickness': 15,
    'line': {'color': 'black', 'width': 0.5},
    'label': ["Agricultural 'waste'",
     'Bio-conversion',
     'Liquid',
     'Losses',
     'Solid',
     'Gas',
     'Biofuel imports',
     'Biomass imports',
     'Coal imports',
     'Coal',
     'Coal reserves',
     'District heating',
     'Industry',
     'Heating and cooling - commercial',
     'Heating and cooling - homes',
     'Electricity grid',
     'Over generation / exports',
     'H2 conversion',
     'Road transport',
     'Agriculture',
     'Rail transport',
     'Lighting & appliances - commercial',
     'Lighting & appliances - homes',
     'Gas imports',
     'Ngas',
     'Gas reserves',
     'Thermal generation',
     'Geothermal',
     'H2',
     'Hydro',
     'International shipping',
     'Domestic aviation',
     'International aviation',
     'National navigation',
     'Marine algae',
     'Nuclear',
     'Oil imports',
     'Oil',
     'Oil reserves',
     'Other waste',
     'Pumped heat',
     'Solar PV',
     'Solar Thermal',
     'Solar',
     'Tidal',
     'UK land based bioenergy',
     'Wave',
     'Wind'],
    'color': ['rgba(31, 119, 180, 0.8)',
     'rgba(255, 127, 14, 0.8)',
     'rgba(44, 160, 44, 0.8)',
     'rgba(214, 39, 40, 0.8)',
     'rgba(148, 103, 189, 0.8)',
     'rgba(140, 86, 75, 0.8)',
     'rgba(227, 119, 194, 0.8)',
     'rgba(127, 127, 127, 0.8)',
     'rgba(188, 189, 34, 0.8)',
     'rgba(23, 190, 207, 0.8)',
     'rgba(31, 119, 180, 0.8)',
     'rgba(255, 127, 14, 0.8)',
     'rgba(44, 160, 44, 0.8)',
     'rgba(214, 39, 40, 0.8)',
     'rgba(148, 103, 189, 0.8)',
     'rgba(140, 86, 75, 0.8)',
     'rgba(227, 119, 194, 0.8)',
     'rgba(127, 127, 127, 0.8)',
     'rgba(188, 189, 34, 0.8)',
     'rgba(23, 190, 207, 0.8)',
     'rgba(31, 119, 180, 0.8)',
     'rgba(255, 127, 14, 0.8)',
     'rgba(44, 160, 44, 0.8)',
     'rgba(214, 39, 40, 0.8)',
     'rgba(148, 103, 189, 0.8)',
     'rgba(140, 86, 75, 0.8)',
     'rgba(227, 119, 194, 0.8)',
     'rgba(127, 127, 127, 0.8)',
     'rgba(188, 189, 34, 0.8)',
     'rgba(23, 190, 207, 0.8)',
     'rgba(31, 119, 180, 0.8)',
     'rgba(255, 127, 14, 0.8)',
     'rgba(44, 160, 44, 0.8)',
     'rgba(214, 39, 40, 0.8)',
     'rgba(148, 103, 189, 0.8)',
     'magenta',
     'rgba(227, 119, 194, 0.8)',
     'rgba(127, 127, 127, 0.8)',
     'rgba(188, 189, 34, 0.8)',
     'rgba(23, 190, 207, 0.8)',
     'rgba(31, 119, 180, 0.8)',
     'rgba(255, 127, 14, 0.8)',
     'rgba(44, 160, 44, 0.8)',
     'rgba(214, 39, 40, 0.8)',
     'rgba(148, 103, 189, 0.8)',
     'rgba(140, 86, 75, 0.8)',
     'rgba(227, 119, 194, 0.8)',
     'rgba(127, 127, 127, 0.8)']},
   'link': {'source': [0,
     1,
     1,
     1,
     1,
     6,
     7,
     8,
     10,
     9,
     11,
     11,
     11,
     15,
     15,
     15,
     15,
     15,
     15,
     15,
     15,
     15,
     15,
     15,
     23,
     25,
     5,
     5,
     5,
     5,
     5,
     27,
     17,
     17,
     28,
     29,
     2,
     2,
     2,
     2,
     2,
     2,
     2,
     2,
     34,
     24,
     35,
     35,
     36,
     38,
     37,
     39,
     39,
     40,
     40,
     41,
     42,
     43,
     43,
     4,
     4,
     4,
     26,
     26,
     26,
     44,
     45,
     46,
     47,
     35,
     35],
    'target': [1,
     2,
     3,
     4,
     5,
     2,
     4,
     9,
     9,
     4,
     12,
     13,
     14,
     16,
     14,
     17,
     12,
     18,
     19,
     13,
     3,
     20,
     21,
     22,
     24,
     24,
     13,
     3,
     26,
     19,
     12,
     15,
     28,
     3,
     18,
     15,
     12,
     30,
     18,
     31,
     32,
     19,
     33,
     20,
     1,
     5,
     26,
     26,
     37,
     37,
     2,
     4,
     1,
     14,
     13,
     15,
     14,
     42,
     41,
     19,
     26,
     12,
     15,
     3,
     11,
     15,
     1,
     15,
     15,
     26,
     26],
    'value': [124.729,
     0.597,
     26.862,
     280.322,
     81.144,
     35,
     35,
     11.606,
     63.965,
     75.571,
     10.639,
     22.505,
     46.184,
     104.453,
     113.726,
     27.14,
     342.165,
     37.797,
     4.412,
     40.858,
     56.691,
     7.863,
     90.008,
     93.494,
     40.719,
     82.233,
     0.129,
     1.401,
     151.891,
     2.096,
     48.58,
     7.013,
     20.897,
     6.242,
     20.897,
     6.995,
     121.066,
     128.69,
     135.835,
     14.458,
     206.267,
     3.64,
     33.218,
     4.413,
     14.375,
     122.952,
     500,
     139.978,
     504.287,
     107.703,
     611.99,
     56.587,
     77.81,
     193.026,
     70.672,
     59.901,
     19.263,
     19.263,
     59.901,
     0.882,
     400.12,
     46.477,
     525.531,
     787.129,
     79.329,
     9.452,
     182.01,
     19.013,
     289.366,
     100,
     100],
    'color': ['rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(33,102,172,0.35)',
     'rgba(178,24,43,0.35)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'rgba(0,0,96,0.2)',
     'lightgreen',
     'goldenrod'],
    'label': ['stream 1',
     '',
     '',
     '',
     'stream 1',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     'stream 1',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     'Old generation plant (made-up)',
     'New generation plant (made-up)',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '',
     '']}}],
 'layout': {'title': {'text': "Energy forecast for 2050, UK — Department of Energy & Climate Change<br>Imperfect copy of <a href='https://bost.ocks.org/mike/sankey/'>Mike Bostock's example</a><br>with numerous <a href='https://plotly.com/javascript/'>Plotly</a> features"},
  'width': 1118,
  'height': 772,
  'font': {'size': 10},
  'updatemenus': [{'y': 1,
    'buttons': [{'label': 'Light',
      'method': 'relayout',
      'args': ['paper_bgcolor', 'white']},
     {'label': 'Dark',
      'method': 'relayout',
      'args': ['paper_bgcolor', 'black']}]},
   {'y': 0.9,
    'buttons': [{'label': 'Thick',
      'method': 'restyle',
      'args': ['node.thickness', 15]},
     {'label': 'Thin', 'method': 'restyle', 'args': ['node.thickness', 8]}]},
   {'y': 0.8,
    'buttons': [{'label': 'Small gap',
      'method': 'restyle',
      'args': ['node.pad', 15]},
     {'label': 'Large gap', 'method': 'restyle', 'args': ['node.pad', 20]}]},
   {'y': 0.7,
    'buttons': [{'label': 'Snap',
      'method': 'restyle',
      'args': ['arrangement', 'snap']},
     {'label': 'Perpendicular',
      'method': 'restyle',
      'args': ['arrangement', 'perpendicular']},
     {'label': 'Freeform',
      'method': 'restyle',
      'args': ['arrangement', 'freeform']},
     {'label': 'Fixed',
      'method': 'restyle',
      'args': ['arrangement', 'fixed']}]},
   {'y': 0.6,
    'buttons': [{'label': 'Horizontal',
      'method': 'restyle',
      'args': ['orientation', 'h']},
     {'label': 'Vertical',
      'method': 'restyle',
      'args': ['orientation', 'v']}]}]}}

In [83]:
len(data['data'][0]['node']['label'])

48

In [84]:
len(data['data'][0]['node']['color'])

48

In [77]:
len(data['data'][0]['link']['color'])

71

In [8]:
from ast import literal_eval

In [18]:
imp_cols = ['index', 'identity', 'origin_country','origin_region','destination_countries'
            , 'destination_regions','created_dt']
result = pd.read_csv(output_csv)[imp_cols]

In [19]:
test = result.head(10)

In [20]:
test.loc[:,'destination_regions'] = test.loc[:,'destination_regions'].apply(lambda x: literal_eval(x))
test.loc[:,'origin_region'] = test.loc[:,'origin_region'].apply(lambda x: literal_eval(x))

C:\Users\leero\Anaconda3\lib\site-packages\pandas\core\indexing.py:1047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [24]:
test.loc[:,'destination_countries'] = test.loc[:,'destination_countries'].apply(lambda x: literal_eval(x))

C:\Users\leero\Anaconda3\lib\site-packages\pandas\core\indexing.py:1047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [25]:
test.explode('destination_countries')

,index,identity,origin_country,origin_region,destination_countries,destination_regions,created_dt
0,g89w9a,25m,Zimbabwe,[Africa],NaN,[south america],2020-04-26
1,g83h6t,40m,United States,[North America],Netherlands,[Europe],2020-04-26
1,g83h6t,40m,United States,[North America],Ireland,[Europe],2020-04-26
2,g88ih5,35f,Belgium,[Europe],United Kingdom,[Europe],2020-04-26
3,g7wiz6,23m,United States,[North America],NaN,[south america],2020-04-26
4,g7y90x,30f,United States,[North America],NaN,[europe],2020-04-26
5,g85xxb,24m,United States,[North America],Canada,[North America],2020-04-26
6,g83iqj,25m,Costa Rica,[North America],Spain,[Europe],2020-04-26
7,g8awx8,21f,United States,[North America],United Kingdom,"[Europe, North America]",2020-04-27
7,g8awx8,21f,United States,[North America],Canada,"[Europe, North America]",2020-04-27
8,g8aosh,21m,New Zealand,[Oceania],United Kingdom,[Europe],2020-04-27
8,g8aosh,21m,New Zealand,[Oceania],Ireland,[Europe],2020-04-27
9,g86kfj,19m,United States,[North America],NaN,[asia],2020-04-26

In [ ]:
result

In [11]:
result['created_dt'].min()

'2020-03-16'

In [13]:
from iwantout import extract_title
t = "[IWantOut] 40M Software Engineer United States -> Italy"
extract_title(t)

('40m',
 'United States',
 ['North America'],
 ['Italy'],
 ['Europe'],
 'software engineer')

In [29]:
df = pd.DataFrame({'A': [[1, 2, 3], [3,4], [5]], 'B': [[2,3,4],[4,5],[6]], 'C' : [1,2,3]})

In [30]:
df

           A          B  C
0  [1, 2, 3]  [2, 3, 4]  1
1     [3, 4]     [4, 5]  2
2        [5]        [6]  3

In [31]:
explode(df,['A','B'])

   A  B  C
0  1  2  1
1  2  3  1
2  3  4  1
3  3  4  2
4  4  5  2
5  5  6  3

In [26]:
[None] *2

[None, None]

In [9]:
# limitation: unable to detect cities